<div class="event_section">
    <div class="event_section_image"> 
      {{ content.field_image.0 }}
    </div>
    <div class="event_discription">
            <div class="event_label">
            {{ node.label }}
            </div>
            <div class="event_price">
              {{ content.field_price.0 }}
            </div>
            <div class="event_starting_discription">
              {{ content.body }}
            </div>
            <div class="event_facility_wrap">
            <div class="event_facility">{{ content.field__facilities.0 }} </div>
            <div class="event_facility">{{ content.field__facilities.1 }} </div>
            <div class="event_facility">{{ content.field__facilities.2 }} </div>
            </div>
            <div class="event_closing_discription">{{ content.field_closing_discription.0 }}</div>
    </div>
</div>