
<div class="testimonial_section">
  <div class="testimonial_section_image">  {{ content.field_image.0 }} </div>
  <div class="testimonial_section_name">  {{ node.label }} </div>
  <div class="testimonial_section_profession">  {{ content.field__profession.0 }}</div>
  <div id="stars" class="ready"> 
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>

  </div>
   <div class="testimonial_dis"> {{ content.body }}</div>
</div>


{% set rating= content.field_rating.0 %}
{% set name= node.label %}


<script>
    star_rating='{{ rating }}';
    name1='{{ name }}';
 </script>
{# <script> print_rating(star_rating,name1);

</script> #}
