

{{ content.field_image.0 }}
<div id="hero_section_content">
<div class="hero_section_content_box">
<div class="title">{{ node.label }}</div>
<div class="body wow fadeInUp">{{ content.body }} </div>
<div class="hero_section_content_links wow fadeInUp">
 <div class="button"> {{ content.field_button.0 }}</div>
<div class="button">{{ content.field_button.1 }}</div>
</div>
</div>
</div>
